{% if site.articles %}
<ul class="rows">
    <li class="row__cols">
        <div class="row__title">
            {% if site.post_title %}
            {{ site.post_title }}
            {% else %}
            Title
            {% endif %}
        </div>
        <div class="row__date">
            {% if site.post_date %}
            {{ site.post_date }}
            {% else %}
            Date
            {% endif %}
        </div>
        <div class="row__cat">
            {% if site.post_cat %}
            {{ site.post_cat }}
            {% else %}
            Category
            {% endif %}
        </div>
    </li>
    {% for article in site.articles %}
    <li class="row__post">
        <a href="{{ site.url }}{{ article.url | relative_url }}">
            <div class="row__title {% if include.uid == article.id %}row__active{% endif %}">
                {{ article.title }}
            </div>
            <div class="row__date {% if include.uid == article.id %}row__active{% endif %}">
                {% if site.date_format %}
                {{ article.date | date: site.date_format }}
                {% else %}
                {{ article.date | date: "%b %-d, %Y" }}
                {% endif %}
            </div>
            <div class="row__cat {% if include.uid == article.id %}row__active{% endif %}">
                {{ article.category }}
            </div>
        </a>

        {% if article.img %}
        <img class="row__img" src="{{ article.img }}" alt="{{ article.title }}">
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}