<div class="header-container">

    {% if include.img_href %}
    <a href="{{ include.img_href }}"
       {% if include.new_tab %}
       target="_blank"
       rel="noopener noreferrer"
       {% endif %}
    >

        <amp-img src="{{ include.img }}" alt="me" height="80" width="80"/>
    </a>
    {% else %}
    <div>
        <amp-img src="{{ include.img }}" alt="me" height="80" width="80"/>
    </div>
    {% endif %}

    <div class="header-name">
        {{ include.name }}
    </div>

    {% if include.parenturl %}
    <a href="{{ include.parenturl }}" title="to the parent page">
        <i class="fas fa-hand-point-left" aria-hidden="true"
           {% if include.dark_background %}
           style="color: #fefeca;"
           {% endif %}
        ></i>
    </a>
    {% endif %}

    {% if include.description %}
    <div class="header-description">
        {{ include.description }}
    </div>
    {% endif %}
</div>