<div class="bio">
    <div class="bio__header">
        <a href="{{ site.url }}{{ "/" | relative_url }}">
        {{ site.header }}
        </a>
    </div>
<!--    <div class="bio__desc">{{ site.desc }}</div>-->
    {% if site.data.social %}
    <ul class="bio__social">
        {% for item in site.data.social %}
        <li class="bio__social__links">
            <a href="{{ item.url }}" title="{{ item.title }}">
                <i class="{{ item.fa-icon }}" aria-hidden="true"></i>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>