{% if site.papers %}
<ul class="rows">
    <li class="row__cols">
        <div class="row__title">
            Title
        </div>
        <div class="row__date">
            Date
        </div>
        <div class="row__cat">
            Tags
        </div>
    </li>
    {% for paper in site.papers %}
    <li class="row__post">

        <a {% if paper.dzoneLink %}
           href="{{ paper.dzoneLink }}" target="_blank" rel="noopener noreferrer"
           {% else %}
           href="{{ site.url }}{{ paper.url | relative_url }}"
           {% endif %}>

            <div class="row__title {% if include.uid == paper.id %}row__active{% endif %}">
                {{ paper.title }}
            </div>
            <div class="row__date {% if include.uid == paper.id %}row__active{% endif %}">
                {% if site.date_format %}
                {{ paper.date | date: site.date_format }}
                {% else %}
                {{ paper.date | date: "%b %-d, %Y" }}
                {% endif %}
            </div>
            <div class="row__cat {% if include.uid == paper.id %}row__active{% endif %}">
                {% for tag in paper.tags %}
                #{{ tag }}
                {% endfor %}
            </div>
        </a>

        {% if paper.img %}
        <img class="row__img" src="{{ paper.img }}" alt="{{ paper.title }}">
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}