{% if site.recordings %}
  <ul class="rows">
    <li class="row__cols">
      <div class="row__title">
        {% if site.post_title %}
          {{ site.post_title }}
        {% else %}
          Title
        {% endif %}
      </div>
      <div class="row__date">
        {% if site.post_date %}
          {{ site.post_date }}
        {% else %}
          Date
        {% endif %}
      </div>
      <div class="row__cat">
        {% if site.post_cat %}
          {{ site.post_cat }}
        {% else %}
          Category
        {% endif %}
      </div>
    </li>
    {% for recording in site.recordings %}
      <li class="row__post">
        <a href="{{ site.url }}{{ recording.url | relative_url }}">
          <div class="row__title {% if include.uid == recording.id %}row__active{% endif %}">
            {{ recording.title }}
          </div>
          <div class="row__date {% if include.uid == recording.id %}row__active{% endif %}">
            {% if site.date_format %}
              {{ recording.date | date: site.date_format }}
            {% else %}
              {{ recording.date | date: "%b %-d, %Y" }}
            {% endif %}
          </div>
          <div class="row__cat {% if include.uid == recording.id %}row__active{% endif %}">
            {{ recording.category }}
          </div>
        </a>

        {% if recording.img %}
          <img class="row__img" src="{{ recording.img }}" alt="{{ recording.title }}">
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}