.bio {
  max-width: 500px;
  margin-bottom: 50px;
}

.bio__header {
  margin-bottom: 20px;
  font-weight: 700;

  a {
  	text-decoration: none;

  	&:hover {
  		text-decoration: none;
  	}
  }
}

.bio__face {
  amp-img {
    border-radius: 50%;
  }
}

.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.bio__social__links{
  display: inline;
  a{
    text-decoration: none;
  }
}
