.container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 11% 15% 15% 15%;
  width: 70%;
  background: rgba(0, 0, 0, 0.5);
}

.container-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}