.container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 11% 15% 15% 15%;
  width: 70%;
}

#background_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

//pagination
$paginate-padding: 13px;

.page-paginate {
  overflow: hidden;
}

.page-paginate-left,
.page-paginate-right {
  position: relative;
  display: block;
  width: 50%;
}

.page-paginate-left {
  padding-left: $paginate-padding;
  float: left;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\21FD";
  }
}

.page-paginate-right {
  padding-right: $paginate-padding;
  text-align: right;
  float: right;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "\21FE";
  }
}