.container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 11% 15% 15% 15%;
  width: 70%;
}

//.container {
//  position: fixed;
//  background: rgba(0, 0, 0, 0.5);
//  color: #f1f1f1;
//  width: 1200px;
//  max-width: 1200px;
//  margin: 0 25px;
//}

//pagination
$paginate-padding: 13px;

.page-paginate {
  overflow: hidden;
}

.page-paginate-left,
.page-paginate-right {
  position: relative;
  display: block;
  width: 50%;
}

.page-paginate-left {
  padding-left: $paginate-padding;
  float: left;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\21FD";
  }
}

.page-paginate-right {
  padding-right: $paginate-padding;
  text-align: right;
  float: right;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "\21FE";
  }
}

//background videos

#background_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.background_video_copyrights {
  position: fixed;
  bottom: 0;
  right: 5px;
  font-size: 0.8em !important;
}