.header-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  amp-img {
    border-radius: 50%;
  }
}

.header-name {
  font-weight: 700;
  font-size: 1.2em !important;
}

.header-description {
  font-size: 1.1em !important;
}