.hedera-eye-container {
  @extend .container;

  a:hover {
    color: $color__yellow;
  }

  .rows:hover {
    color: $color__yellow;
  }

  .header-name:hover {
    color: $color__yellow;
  }

  .header-description:hover{
    color: $color__yellow;
  }

}