.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-social {
  margin: 5px 0 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    a {
      text-decoration: none;
    }
  }
}

nav {
  margin: 15px 0 20px;
  font-size: 1.4em !important;
  a:hover {
    color: #fefeca;
    text-decoration: underline;
  }
}