.home-social {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    a {
      text-decoration: none;
    }
  }
}

nav {
  margin: 15px 0 20px;
  font-size: 1.4em !important;
}