.record-container {
  .page-paginate {
    min-width: 500px;
    width: 33%;
    margin-left: 33%;
  }
}

.record {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.record-details {
  font-weight: lighter;
  font-size: 1.1em !important;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

.record-body {
  border: 0;
  overflow:hidden;

  padding-top: 20px;
  border-top: 1px solid $color__black;
  padding-bottom: 20px;
  border-bottom: 1px solid $color__black;
}

// media queries
@include media-query($on-laptop) {
  .record-body {
    min-width: 500px;
    width: 33%;
  }
}
