.record{
  align-items: center;
  //display: flex;
  justify-content: center;
  //flex-direction: column;
  //text-align: center;
}

.record-meta {
  margin: 30px 0 20px;
  border-bottom: 1px solid $color__black;
  overflow: hidden;
  font-weight: 700;
}

.record-title {
  @extend .row__title;
}

.record-date {
  @extend .row__date;
}

.record-genre {
  @extend .row__cat;
}

.record-body {
  padding-bottom: 20px;
  border-bottom: 1px solid $color__black;

  pre {
    background: $color__gray;
    padding: 10px 20px;
  }

  code {
    background: $color__gray;
    font-size: 12px;
  }

  img {
    max-width: 100%;
  }
}

// media queries
@include media-query($on-laptop) {
  .record {
    min-width: 500px;
    width: 50%;
  }
}
