<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}
<video autoplay muted loop id="background_video">
    <source src="/assets/backgrounds/hedera-eye.mp4" type="video/mp4">
</video>
<body>
<div class="container">

    {% include header.html
    img="/assets/hedera-eye/logo.jpg"
    img_href="https://soundcloud.com/hedera-eye"
    name="hedera.eye"
    description=site.hedera_eye_descr %}

    {% include records_list.html uid=page.id records=site.hedera-eye %}

</div>
</body>
</html>