<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}
{% include background.html video="/assets/backgrounds/hedera-eye.mp4" copyrights="true" %}

<body>
<div class="container">

    {% include header.html
    img="/assets/hedera-eye/logo.jpg"
    img_href="https://soundcloud.com/hedera-eye"
    new_tab="true"
    name="hedera.eye"
    parenturl="/"
    description=site.hedera_eye_descr %}

    {% include records_list.html uid=page.id records=site.hedera-eye row_class="row__post_hedera_eye" %}

</div>
</body>
</html>