<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}
{% include background.html video="/assets/backgrounds/home.mp4" copyrights="true" %}
<body>
<div class="container">

    {% include header.html img="/assets/me.jpg" img_href="/about" name="Sergey Povisenko" %}

    <div class="home">
        {% if site.data.social %}
        <ul class="home-social">
            {% for item in site.data.social %}
            <li>
                <a href="{{ item.url }}" title="{{ item.title }}" target="_blank"
                   rel="noopener noreferrer">
                    <i class="{{ item.fa-icon }}" aria-hidden="true"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <nav>
            <a href="/hedera-eye" title="{{ site.hedera_eye_descr }}">hedera.eye</a>
            <a href="/papers" title="{{ site.papers_descr }}">tech writings</a>
            <a href="/about">about</a>
        </nav>
    </div>
</div>
</body>
</html>